%% -*- erlang -*-
{erl_opts,[debug_info, warnings_as_errors]}.
{deps_dir, ["deps"]}.
{deps, [{edown, ".*",
         {git, "https://github.com/esl/edown.git", {tag, "0.2.9"}}},
        {perftest, ".*",
         {git, "https://github.com/EchoTeam/perftest.git", {branch, "master"}}}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{doclet, edown_doclet},
             {src_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {top_level_readme,
              {"./README.md",
               "https://github.com/si14/mavg"}}]}.
